{
	"url": "https://pz-gateway.test.geointservices.io/data/file",
	"method": "POST",
	"total_num": 50,
	"simul_num": 7,
	"save_filename": "test.csv",
	"headers": {
		"dataType": "json",
		"data": {
			"Authorization": "Basic Y2l0ZXN0ZXI6Y2l0ZXN0ZXI=",
			"cache-control": "no-cache"
		}
	},
	"payload": {
		"dataType": "data-wrapped json",
		"data": {
			"type": "ingest",
			"host": "true",
			"data" : {
				"dataType": {
					"type": "raster"
				},
				"metadata": {
					"name": "somecat.tif",
					"description": "A BF TIFF file.",
					"classType": {
						"classification": "unclassified"
					}
				}
			}
		}
	},
	"sendFile": "somecat.tif"
}