{
	"url": "https://pz-gateway.test.geointservices.io/service",
	"method": "POST",
	"total_num": 1000,
	"simul_num": 14,
	"save_filename": "postServ.csv",
	"headers": {
		"dataType": "json",
		"data": {
			"Authorization": "Basic Y2l0ZXN0ZXI6Y2l0ZXN0ZXI=",
			"Content-Type": "application/json"
		}
	},
	"payload": {
		"dataType": "stringified json",
		"data": {
			"url": "http://pzsvc-hello.test.geointservices.io/",
			"contractUrl": "http://helloContract",
			"method" : "GET",
			"serviceId": "",
			"resourceMetadata": {
				"name": "pzsvc-hello service",
				"description": "just load testing :)"
			}
		}
	}
}