{
	"url": "https://pz-security.test.geointservices.io/verification",
	"method": "POST",
	"total_num": 2000,
	"simul_num": 14,
	"save_filename": "verSecurity.csv",
	"headers": {
		"dataType": "json",
		"data": {
			"Content-Type": "application/json"
		}
	},
	"payload": {
		"dataType": "stringified json",
		"data": {
			"username": "yarrinje",
			"credential": "bad.PASSW0RD"
		}
	}
}